@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), local('Gudea-Regular'), url(Gudea-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: local('Gudea Bold'), local('Gudea-Bold'), url(Gudea-Bold.ttf) format('ttf');
}
